<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MC Server Status</title>
    <link rel="stylesheet" href="/static/index.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/servers" class="selected">Manage Servers</a>
    </header>
    <div>
      <div class="content">
        <table>
          <thead>
            <tr>
              <th scope="col">URL</th>
              <th scope="col">Port</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{range .}} {{template "servers-tr.html" .}} {{end}}
          </tbody>
        </table>
        <form hx-post="/servers/">
          <label>Add Server</label>
          <label>
            URL
            <input name="url" value="" />
          </label>
          <label>
            Port
            <input value="25565" name="port" />
          </label>
          <input type="submit" value="Add" />
        </form>
      </div>
    </div>
  </body>
</html>
